/* Resetando algumas configurações padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ADD8E6; /* Azul Claro */
    color: #00008B; /* Azul Marinho */
    padding: 20px;
}

#introducao {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #00008B; /* Azul Marinho */
}

h1 {
    color: #0000FF; /* Azul */
    font-size: 2.5rem;
}

p {
    font-size: 1.2rem;
    color: #555;
}

ul {
    list-style-type: none;
    margin-top: 20px;
}

li {
    font-size: 1rem;
    color: #0000FF; /* Azul */
}